#contenedor {
    position: relative;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

body,html {
            margin: 0px;
            padding: 0px;
            overflow: hidden;
            background-color: black;
            color: white;
            height: 100%;
}

.opciones {
    text-align: center;
    padding-top: 5%;
    font-size: 30px;
}

#titulo {
    text-align: center;
    padding-top: 15%;
    font-size: 45px;
}

#logo{
    text-align: center;
    padding-top: 0;
    width: 200px;
    height: 200px;
}